// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
  margin-top: 0px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* User register page */
.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}

/* Topic Index Page */
.topics-index-page, .categories-show-page, .root-page {
  .topic-list {
    .nav>li>a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }

    a {
      color: #444444;
      text-decoration: none;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8!important;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #979da0;
    }
  }
}

/* Add container and footer space */
#app > div.container {
  margin-bottom: 100px;
}

.simditor-body img {
  max-width:100%;
}


/* Topic Show Page */

@import "topic_body";

.topics-show-page {

    .card {
        padding: 15px;

        h1 {
            margin: 0.4em auto 0.6em;
            font-size: 28px;
            line-height: 38px;
        }
    }
}

/* 回复列表 */
.topic-reply {
  a {
      color: inherit;
  }

  .meta {
      font-size: .9em;
      color: #b3b3b3;
  }
}

/* 消息通知 */
.notification-badge {
  .badge {
    font-size: 12px;
    margin-top: 14px;
  }

  .badge-secondary {
    background-color: #EBE8E8!important;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}
